[Unit]
Description=Uvicorn instance to serve the Lifewink AI Voice Chat
After=network.target

[Service]
User=abu_zahid
Group=www-data
WorkingDirectory=/home/abu_zahid/ai_voice_chat/v2v
Environment="PATH=/home/abu_zahid/ai_voice_chat/v2v/.venv/bin"
ExecStart=/home/abu_zahid/ai_voice_chat/v2v/.venv/bin/uvicorn main:app --uds /home/abu_zahid/ai_voice_chat/v2v/.sock --workers 4

[Install]
WantedBy=multi-user.target
